<!doctype html>
<html lang="en" ng-app='ShoppingListCheckOff'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/application.css">
    <script src="angular/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyController as buy'>
     <h2>To Buy:</h2>
      <div class="shopping-list" ng-repeat="item in buy.items">
        <input ng-model="item.quantity" id="qty" type="number" name="quantity" min="1" 
          max="999" class="input-number small">{{ item.name }}
        <button class="btn btn-default" ng-click="buy.moveItem($index);">
          <span class="glyphicon glyphicon-ok"></span> Bought
        </button>
      </div>
     <div ng-if="buy.items.length == 0" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6 .offset-md-1" ng-controller='AlreadyBoughtController as bought'>
     <h2>Already Bought:</h2>
      <div class="shopping-list" ng-repeat="thing in bought.things">
        {{ thing.quantity }} of {{ thing.name }} for total price of {{thing.totalPrice}}
      </div>
     <div ng-if="bought.things.length ==0" class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
