body {
  font-size: 16px;
  color: #010101;
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

/* NAV REGION */
#header-nav {
  background-color: #807C7C;
  border-radius: 0;
  border: 2px #000000 solid;
  margin-bottom: 0px;
}

#nav-header-txt {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
}

#stretch-to-edge {
   padding-right: 0px;
   padding-left: 0px; 
}

.navbar button.navbar-toggle {
  border: 1px solid #000000;
}

.navbar .icon-bar {
  border: 2px solid #000000;
}

#collapsable-nav {
  clear: both;
  box-shadow: none;
  background-color: #ffffff;
}

li.visible-xs-block {
  color: #000000;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

li.selective-border {
  border-bottom: 2px solid #000000;
}

#nav-list a {
  color: #000000;
  font-weight: bold;
}

a#intro-link {
  padding-top: 0px;
}

a#theman-lik {
  padding-bottom: 0px;
}
/* END NAV REGION */

/* CONTENT REGION */

div.page-header {
  margin-top: 0px;
  text-align: center;
}

div.page-header > h1 {
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

div.panel-default > h3.page-header {
  font-weight: bold;
}

div.panel-default > h3.page-header,
div.panel-default > div.panel-footer {
  text-align: center;
  border: 0px;
}

a.panel-footer {
  display: block;
}

div.panel-default > h3.page-header, 
div.panel-default > div.panel-body, 
div.panel-default > div.panel-footer {
  color: #000000;
  background-color: #807C7C;
}

div.panel-default > div.panel-body {
  font-size: .8em;
  height: 580px;
}

h3.page-header {
  margin: 0px;
  padding-top: 10px;
}

a.link-footer:link {
  color: #0000EE;
  text-decoration: underline;
}

a.link-footer:visited {
  color: #551A8B;
}

/* MEDIA BASED SELECTORS */

/** Desktop only **/
@media (min-width: 992px) {
  div.page-header > h1 {
    font-size: 1em;
  }

  div.panel-default > h3.page-header {
    font-size: 14px;
  }
}

/** Tablet only **/
@media (min-width: 768px) and (max-width: 991px) {
  div.page-header > h1 {
    font-size: 1.2em;
  }

  div.panel-default > h3.page-header {
    font-size: 18px;
  }
  
}

/** Mobile only **/
@media (max-width: 767px) {
  div.page-header > h1 {
    font-size: 4vw;
  }

  /* change navbar appearance when it has focus (has been clicked) */
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: none;
    border-color: #ffffff;
  }

  /* change icon bars to white when navbar has focus (has been clicked) */
  .navbar-toggle:focus > span.icon-bar, .navbar-toggle:hover > span.icon-bar {
    border-color: #ffffff;
  }

  /* change icon bars back to black when navbar collapsed */
  .navbar-default .navbar-toggle.collapsed span.icon-bar {
    border-color: #000000;
  }

  /* change navbar border back to black when collapsed */
  .navbar-default .navbar-toggle.collapsed {
    border-color: #000000;
  }
  
}

/* END MEDIA BASED SELECTORS */
/* END CONTENT REGION */