body {
  font-size: 1.2em;
  font-family: "Arial", Verdana, sans-serif;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

.active {
  font-weight: bold;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li[ui-sref] {
  list-style: none;
  padding-left: 1em;
  text-indent: -1em;
}

li[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  color: #008000;
}

li[ui-sref]:before {
  content: "+";
}

#category-item {
  width: 250px;
}

#item-name {
  font-weight: bold;
}

#description {
  text-transform: capitalize;
  margin-bottom: 2px;
}
