body {
  font-size: 1.2em;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

.active {
  font-weight: bold;
}

li[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  color: #008000;
  text-decoration: underline;
}

#item-name {
  font-weight: bold;
}

#description {
  text-transform: capitalize;
}
