<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller='NarrowItDownController as narrowIt'>
    <h2>Narrow Down Your Chinese Menu Choice</h2>

    <div class="form-group row">
      <div class="col-sm-3">
        <input type="text" placeholder="search term" class="form-control" 
          ng-model="narrowIt.searchText">
      </div>
      <div class="narrow-button col-sm-4">
        <button class="btn btn-primary" 
          ng-click="narrowIt.getMenuItems();">Narrow It Down For Me!
        </button>
      </div>
    </div>
    <div class="form-group row">
        <!-- found-items should be implemented as a component -->
        <!-- <found-items found-items="...." on-remove="...."></found-items> -->
        <found-items my-list=narrowIt></found-items>
  </div>


  </div>

</body>
</html>
