<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>What's For Lunch?</title>
  </head>
  <body ng-app="LunchCheck">
    <h2>What do you usually eat for lunch?</h2>
    <div ng-controller="LunchCheckController">
      <div class="label">Enter a comma separated list of foods you eat for lunch:</div>
        <div id = "wrapper">
          <input type="text" id="entryBox" ng-model="foodList">
          <div id="note">{{noteMsg}}</div>
        </div>
      <div id = "wrapper">
        <button type="button" class="button"
          ng-click="displayMessage()">Check if too much
        </button>
        <div ng-class="customStyle.colorClass">{{foodMsg}}</div>
      </div>
    </div>
  </body>
</html>
